 
/* Permet d'installer ses propres fonts */
@font-face { 
	font-family: "Love Story"; 	
	src: url('./WebContents/Love_Story_Rough.ttf'); 
}


/* Caractéristiques globales */

html{
	background-color : #F2F2F2;
	height: 100%;
	max-width: 80%;
	margin: auto;
}
body{
	margin : 0 auto;
	background-color: white;
	min-height: 100%;
	position: relative;
	padding-bottom: 250px;
}

p{
	color: rgb(55,55,55);
	font-family: Verdana, arial, serif;
}

* {-moz-box-sizing: border-box; box-sizing: border-box;}
/* Partie Header */

header{
	width:100%;
}

#titre{
	display:inline-block;
	min-width: 20%;
	margin-left: 5%;
	margin-top: 1%;
}
#logo{
	width:64px;
	height:64px;
	vertical-align : top;
}
header h1{
	display: inline-block;
	color: #373634;
	text-align: center;
	line-height: 80px;
	font-size: 3em;
	height: 64px;
	font-family: "Love Story", Verdana, Arial, sans-serif;
	margin-top: 0;
}

#top-menu{
	display : inline-block;
	width: 40%;
	min-width: 35%;
	height: 64px;
	white-space: nowrap;
	text-align: center;
	margin: 0 auto;
	vertical-align: top;
	overflow: visible;
}

#co{
	display: inline-block;
	background-color: rgb(174,238,0);
	width: 10%;
	min-width: 10%;
	float: right;
	text-align: center;
	border: 2px solid rgba(0,175,240,0.6);
	border-radius: 10px;
	margin-right: 2%;
	margin-top: 40px;
	overflow: hidden;
}

#login, #inscription, #logout, #admin{
	align-self:center;
	background:transparent;
	padding:0.3rem 0.3rem;
	margin:0 0.2rem;
	transition:all .5s ease;
	color:#41403E;
	font-size:0.8rem;
	letter-spacing:1px;
	outline:none;
	box-shadow: 20px 38px 34px -26px rgba(0,0%,0%,.3);
	border:solid 3px #41403E;
	border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}
#login:hover{
    box-shadow:10px 8px 4px -6px rgba(0,0%,0%,1);
    background-color: rgba(0,176,240,.8);;
    color:#41403E;
}
#inscription:hover{
    box-shadow:10px 8px 4px -6px rgba(0,0%,0%,1);
    background-color: rgba(174,238,0,.8);
    color:#41403E;
}
#logout:hover{
    box-shadow:10px 8px 4px -6px rgba(0,0%,0%,1);
    background-color: rgba(174,5,20,.8);;
    color:#41403E;
} 
#admin:hover{
    box-shadow:10px 8px 4px -6px rgba(0,0%,0%,1);
    background-color: rgba(150,85,150,.8);;
    color:#41403E;
} 


a{
	text-decoration: none;
	font-family: Verdana, arial, serif;
}

a:visited{
	color: rgba(0,176,240,.8);
}

#top-menu a{
	margin-left: 1.5em;
	margin-right: 1.5em;
	position: relative;
	top: 70%;
	font-weight: bold;
	transition:all .2s ease;
}

#top-menu a:link, #menu a:visited{
	color: rgba(0,176,240,.8);
}

#top-menu a:hover{
	color: rgba(0,110,240,.8);
	background-color: rgba(0,176,240,.2);
	padding: 8px;
	border-radius: 10px;
}

#right-menu{
	position: absolute;
	top: 20px;
	right: 20px;
}


#banniere{
	width : 100%;
	height : 250px;
	border-top: solid grey 1px;
	border-bottom: solid grey 1px;
	box-shadow: 0px 5px 5px rgba(0,176,240, 0.2);
}


/* config.php */
#main{
	display: block;
	min-height: 800px;
	padding: 5%;
}

#main hr{
	width: 80%;
	border: 2px solid rgba(0,176,240, 0.6);
	box-shadow: 1px 2px rgb(150,150,150);
	border-radius: 10px;
}

#main h2{
	text-align: center;
	margin: auto;
	font-size: 2.5em;
	color: rgb(56,56,56);
	font-family: "Love Story", Verdana, Arial, sans-serif;
}



#main p{
	text-align: center;
}



#case_one{
	display: block;
	width: 90%;
	height: 400px;
	text-align: center;
	margin: auto;
	overflow: auto;
	position: relative;
	background-color: rgb(225,225,250);
	padding: 15px;
}

#case_one img{
	width: 50%;
	height: 100%;
	float: left;
	box-shadow: 5px 5px rgb(200, 200, 200);
}

#case_one article{
	display: inline-block;
	margin-top: auto;
	margin-bottom: auto;
	width: 40%;
	position: absolute;
	top: 20%;
	right: 5%;
}

#case_one h2{
	display: inline-block;
	width: 80%;
	color: rgb(55,55,55);
	font-size: 1em;
	vertical-align: top;
	font-family: Tahoma, Verdana, Arial, sans-serif;
}

#case_one p{
	display: block;
	width: 40%%;
	font-size: 1em;
	color: rgb(150,150,150);

}

#case_one a:link, #menu a:visited{
	color: rgba(0,176,240,.8);
	font-weight: bolder;
}

#case_one a:hover{
	color: rgb(55,55,55);
	background-color: rgba(174,238,0,.8);
	padding: 10px;
	border-radius: 10px;
	transition:all .5s ease;
}

.green_button:link{
	color: rgba(0,176,240,.8);
	font-weight: bolder;
}

.green_button:hover{
	color: rgb(55,55,55);
	background-color: rgba(174,238,0,.8);
	padding: 10px;
	border-radius: 10px;
	transition:all .5s ease;
}

.big_button{
	font-size: 1.5em;
	font-weight: bolder;
	font-family: Tahomas;
}

.big_button:link{
	border-radius: 50%;
	font-weight: bolder;
}

.big_button:hover{
	color: rgb(0,176,240);
	background-color: rgba(0,176,240,.2);
	padding: 5px 10px 5px 10px;
	border-radius: 50%;
}


/* Case_two invited */

#case_two{
	display: block;
	width: 90%;
	height: 250px;
	text-align: center;
	margin: 40px auto 40px auto;
	overflow: auto;
	background-color: rgb(255,255,255);
	padding: 20px;
}



#case_two h2{
	display: inline-block;
	width: 80%;
	color: rgb(55,55,55);
	font-size: 1.2em;
	vertical-align: top;
}

#case_two_admin h2{
	display: inline-block;
	width: 100%;
	color: rgb(55,55,55);
	font-size: 1.8em;
	vertical-align: top;
}
#case_two_admin{
	display: inline-block;
	margin-top: auto;
	margin-bottom: auto;
	width: 100%;
	height: 180px;
	vertical-align: top;
	position: relative;
}

#case_two_admin table{width: 80%; margin: auto;}
#case_two_admin tr{width: 100%;}
#case_two_admin th, #case_two_admin td {width: 30%;}
#case_two_admin th{ 
	font-size: 1.2em;
	color: rgb(55,55,55);
	font-weight: bolder;
	font-family: Arial;
}
#case_two_admin td{ 
	font-size: 4em;
	color: rgba(0,176,240,.8);
	font-weight: bolder;
}

#case_two .case_two_article{
	display: inline-block;
	margin-top: auto;
	margin-bottom: auto;
	width: 32%;
	height: 180px;
	vertical-align: top;
	position: relative;
}
#case_two .case_two_article h3{
	display: inline-block;
	width: 80%;
	color: rgb(55,55,55);
	font-size: 1em;
	vertical-align: top;
}

#case_two p{
	font-size: 1em;
	color: rgb(150,150,150);
	display: block;
	width: 100%;
	height: 50%;
	vertical-align: bottom;
	position: absolute;
	bottom: 1px;
}

#case_two .link:link{
	color: rgba(0,176,240,.8);
	font-weight: bolder;
}

#case_two .link:hover{
	color: rgb(55,55,55);
	background-color: rgba(174,238,0,.8);
	padding: 10px;
	border-radius: 10px;
	transition:all .5s ease;
}

#case_three{
	display: block;
	min-width: 100%;
	min-height: 280px;
	max-height: 300px;
	text-align: center;
	overflow: auto;
	margin: 40px auto 40px auto;
	position: relative;
}

.case_three-img{
	position: relative;
	display: inline-block;
	min-width: 25%;
	max-width: 25%;
	min-height: 280px;
	max-height: 300px;
	vertical-align: top;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.case_three-img h3{
	color: rgb(55,55,55);
	font-size: 1em;
	font-family: Tahoma, Verdana, Arial, sans-serif;

}

.case_three-img p{
	font-size: 1em;
	color: rgb(150,150,150);
	display: block;
	position: absolute;
	bottom: 0px;
}



/* Elements généraux */
#id_contact{
	vertical-align:top;
}

#block_rechercher_trajet{
	width: 100%;
	font-family: Verdana, Arial, sans-serif;
	height: 120px;
	background-color: rgba(0,176,240,.2);
	margin-bottom: 5%;
	box-shadow: 0px 5px 20px rgba(0,176,240,.2);
}
#rechercher_trajet{
	width: 90%;
	margin: auto;
	text-align: center;
}

#voiture{
	width: 64px;
	height: 64px;
	vertical-align: middle;
	margin-right: 15px;
}

#depart{
	border: 1px rgba(237,0,0, 0.8) solid;
	margin: 15px;
}
#arrivee{
	border: 1px rgba(52, 201, 36, 0.8) solid;
	margin: 15px;
}

#id_contact textarea{ 
	resize:none;}
#map {
	width: 300px;
	height: 300px;
	background-color: grey;
	margin: auto;
}
#id_contact,#map{
	display:inline-block;
	margin:20px;
}

.error_box{
	background-color: rgba(0,176,240,.2);
	border: 1px solid cyan;
	width: 50%;
	margin: 10px auto 10px auto;
	padding: 10px;
	text-align: center;
	font-color: rgb(55,55,55);
	font-family: Verdana, Arial, serif;
}

.valid_box{
	background-color: rgba(0,255,0, 0.2);
	border: 1px solid green;
	width: 50%;
	margin: 10px auto 10px auto;
	padding: 10px;
	text-align: center;
	font-color: rgb(55,55,55);
	font-family: Verdana, Arial, serif;	
}

/* Apparence du Profil */
.info_profil{
	width: 80%;
	border: 0 none;
	margin: 50px auto 50px auto;
	text-align: center;

}

.info_profil h3{
	text-align: center;
	width: 50%;
	margin: 5px auto 5px auto;
	font-size: 1.5em;
	font-color: rgb(55,55,55);
	padding: 10px;
	background-color: rgba(0,110,240,.4);
	border-radius: 10px;
}

.info_profil li{
	list-style-type: none;
}

#info_voiture_profil table{
	width: 80%;
	margin: auto;
	border-collapse: collapse;
	border-spacing: 2px 2px;
}

#info_voiture_profil tr{
	width: 100%;
	margin-bottom: 5px;
}

#info_voiture_profil th{
	font-size: 1.2em;
	color: rgb(55,55,55);
	font-weight: bolder;
	font-family: Arial, sans-serif;
}
#info_voiture_profil td{
	min-width: 15%;
	background-color: #ddd; 

}

#info_voiture_profil button{
    padding:5px 15px;
    background:#ccc; 
    border: 1px outset black;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    text-align: center;
}

.info_profil a:link, .info_profil a:visited{
	color: rgba(0,176,240,.8);
	font-weight: bolder;
}

.info_profil a:hover{
	color: rgb(55,55,55);
	background-color: rgba(174,238,0,.8);
	padding: 10px;
	border-radius: 10px;
	transition:all .5s ease;
}

/* Page des avis */

.avis_passager, #info_trajet{
	width: 90%;
	margin: auto;
	background-color: rgba(0,176,240,.1);
	border: 2px solid rgba(0,176,240,0.4);
	border-collapse: collapse;
}

.avis_passager td, #info_trajet td{
	border: 1px solid white;
	padding: 1%;

}
.avis_h3{
	width: 80%;
	margin: 15px auto 15px auto;
	font-family: Tahomas, Verdana, Arial, sans-serif;
	font-size: 1.1em;
}

.avis_passager th, #info_trajet th{
	font-size: 1.2em;
	color: rgb(55,55,55);
	font-family: Trebuchet, Verdana, Arial, sans-serif;

}

.avis_passager .info_passager{
	width: 30%;
	text-align: center;
}

.bold_vd{
	color: rgb(237,0,0);
}

.bold_va{
	color: rgb(52, 201, 36);
}

.bold_prix{
	color: rgb(0,176,240);
	font-weight: bolder;
	font-size: 2em;

}

.avis_passager .prix_passager{
	width: 15%;
	color: rgb(0,176,240);
	font-weight: bolder;
	font-size: 1.5em;
	text-align: center;
}
.avis_passager .form_passager{
	width: 50%;
	margin: auto;
}


.avis_passager .commentaire{
	width: 100%;
	height: 50px;
	resize: none;
	background-color: rgb(215,215,215);
}

/* Mise en forme des formulaires */

.generic_form{
	width: 50%;
	margin: 25px auto 25px auto;
	text-align: center;
	padding: 2%;
	background-color: rgba(0,176,210,0.3);
	border-radius: 10px;
}

.generic_form label{
	font-family: Tahomas, Arial, sans-serif;
	color: rgb(56,56,56);
	font-weight: bolder;
	float: left;
}

.generic_form table{
	width: 100%;
}


input[type=submit], input[type=reset]{
    padding:5px 15px;
    min-width: 100px;
    background:#ccc; 
    border: 1px outset black;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    text-align: center;
	margin-top: 25px;
}

input[type=email]{
	background-color: #eee;
	cursor: text;
	float: middle;
}
input[type=text]{
	background-color: #eee;
	cursor: text;
	float: middle;
}

#id_trajet{
	width: 50%;
	margin: auto;
	text-align: center;
	padding: 2%;
	background-color: rgba(0,176,210,0.3);
	border-radius: 10px;
}

#id_trajet fieldset{
	border: 0 none;
}



#id_trajet table{
	width: 90%;
	margin: 0 auto 0 auto;
	text-align: left;
}


.generic_form a:hover{
	color: orange;
	transition: all 1s ease;
}

/* Partie statistique */

#stats{
	width: 80%;
	margin: auto;
	padding: 2%;
	background-color: rgba(0,176,210,0.3);
}

#stats table{width: 70%; margin: auto; border: collapse;}
#stats td{border: 2px grey outset;}
#stats .label{
	width: 70%;
	color: rgb(56,56,56);
	font-size: Verdana;
	margin: auto;
}

#stats .res{
	text-align: center;
	color: rgb(0,176,210);
	font-weight: bolder;
	font-size: 1.3em;
}

#stats #stats_trajet{
	width: 70%;
	margin: 25px auto 25px auto;
	padding: 2%;
	background-color: #ddd;
	text-align: center;
}

#stats p{
	background-color: #fff; 
	padding: 25px;
	font-size: 1.5em;
}

/* Partie Footer */

footer{
	width:100%;
	position: absolute;
	bottom: 0px;
}

footer h4{
	font-size: 1.1em;
	font-family: Verdana, arial, serif;
	color: rgb(220,220,220);
}
#foot{
	height: 250px;
	width : 100%;
	margin-right : auto;
	margin-left : auto;
	border-top: 2px grey solid;
	border-bottom: 2px grey solid;
	background-color: rgb(35, 47, 62);
	text-align: center;
}
#foot article{
	display : inline-block;
	width : 32%;
	text-align : center;
	height: 250px;
	vertical-align: top;
	overflow: auto;
}

#foot ul{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#foot li{
	list-style-type: circle;
	text-align: left;
	margin: 10px auto;
	font-family: Verdana, arial, serif;
	font-size: 0.9em;
}

#foot a:link, #foot a:visited{
	color: rgb(236,236,236);
}
#foot a:hover{
	color: rgb(250,250,250);
	font-size: 1.1em;
}

#copyright{
	text-align : center;
	color: rgb(30,30,30);
	font-size: 0.6em;
}
